#vpl_grade_view {
    height:220px;
}
#vpl_grade_form {
    float:left;
}
#vpl_grade_comments {
    float:right;
    width:49%;
    overflow:auto;
    border: 1px solid lightgray;
}
textarea#id_comments{
    width:49%;
}
#vpl_submission_view {
    clear:both;
    overflow:auto;
}
